@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------------------------------------- */

@layer components {

	.horizontal						{ @apply flex flex-row; }
	.horizontal.center-v	{ @apply items-center; }
	.horizontal.center-h	{ @apply justify-center; }
	.horizontal.center		{ @apply justify-center items-center; }

	/* ------------------------------------------------------------------------ */

	.vertical						{ @apply flex flex-col; }
	.vertical.center-v	{ @apply justify-center; }
	.vertical.center-h	{ @apply items-center; }
	.vertical.center		{ @apply justify-center items-center; }

	/* ------------------------------------------------------------------------ */

	.space-between { @apply justify-between; }

	/* ------------------------------------------------------------------------ */

	.text_field {
		@apply
			block w-full p-2.5
			rounded-lg
			bg-neutral-50 dark:bg-neutral-700
			text-neutral-900 dark:text-neutral-100
			dark:placeholder-neutral-400
			border border-neutral-300 dark:border-neutral-600
			focus:ring-neutral-500 focus:border-neutral-500
			dark:focus:ring-neutral-500 dark:focus:border-neutral-500
	}
		.text_field.primary,
		.text_field_primary {
			@apply
				bg-primary-50 dark:bg-primary-900
				placeholder-primary-400 dark:placeholder-primary-700
				text-primary-900 dark:text-primary-100
				border-primary-200 dark:border-primary-700
				focus:ring-primary-500 focus:border-primary-500
				dark:focus:ring-primary-500 dark:focus:border-primary-500
		}
		.text_field.secondary,
		.text_field_secondary {
			@apply
				bg-secondary-50 dark:bg-secondary-900
				placeholder-secondary-400 dark:placeholder-secondary-700
				text-secondary-900 dark:text-secondary-100
				border-secondary-200 dark:border-secondary-700
				focus:ring-secondary-500 focus:border-secondary-500
				dark:focus:ring-secondary-500 dark:focus:border-secondary-500
		}

}

/* -------------------------------------------------------------------------- */

.inner {
	@apply
		max-w-3xl mx-auto px-4 py-8
		sm:px-6 sm:py-12
		lg:max-w-4xl lg:px-8 lg:py-16
		xl:max-w-6xl;
}
	#page_footer .inner {
		@apply py-4;
	}

/* -------------------------------------------------------------------------- */

.button {
	@apply
		px-5 py-2.5
		font-medium
		text-center
		cursor-pointer
		/*
		@todo: colors for regular button
		text-white bg-primary-700 dark:bg-primary-600
		hover:bg-primary-800 dark:hover:bg-primary-700
		focus:ring-4 focus:outline-none focus:ring-primary-300 dark:focus:ring-primary-800;
		*/
}
	.button.rounded {
		@apply rounded-lg;
	}
	.button.light {
		@apply
			text-neutral-900 dark:text-white
			bg-white hover:bg-neutral-100
			dark:bg-neutral-800 dark:hover:bg-neutral-700
			border border-neutral-300
			dark:border-neutral-600 dark:hover:border-neutral-600
			focus:ring-4 focus:outline-none focus:ring-neutral-100
			dark:focus:ring-neutral-700
	}
	.button.neutral {
		@apply
			text-neutral-50
			bg-neutral-700 dark:bg-neutral-600
			hover:bg-neutral-800 dark:hover:bg-neutral-700
			focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:focus:ring-neutral-800;
	}
		.button.neutral_outline {
			@apply
				text-neutral-700 hover:text-neutral-50 dark:text-neutral-50
				hover:bg-neutral-700 dark:hover:bg-neutral-600
				border border-neutral-700 dark:border-neutral-600;
		}
	.button.primary {
		@apply
			text-primary-50
			bg-primary-700 dark:bg-primary-600
			hover:bg-primary-800 dark:hover:bg-primary-700
			focus:ring-4 focus:outline-none focus:ring-primary-300 dark:focus:ring-primary-800;
	}
		.button.primary_outline {
			@apply
				text-primary-700 hover:text-primary-50 dark:text-primary-50
				hover:bg-primary-700 dark:hover:bg-primary-600
				border border-primary-700 dark:border-primary-600;
		}
	.button.secondary {
		@apply
			text-secondary-50
			bg-secondary-700 dark:bg-secondary-600
			hover:bg-secondary-800 dark:hover:bg-secondary-700
			focus:ring-4 focus:outline-none focus:ring-secondary-300 dark:focus:ring-secondary-800;
	}
		.button.secondary_outline {
			@apply
				text-secondary-700 hover:text-secondary-50 dark:text-secondary-50
				hover:bg-secondary-700 dark:hover:bg-secondary-600
				border border-secondary-700 dark:border-secondary-600;
		}
	/*
	.button:has(svg) {
		@apply flex items-center justify-center;
	}
	.button > svg {
		@apply w-5 h-5;
	}
		.button > svg:first-child {
			@apply -ms-2 me-2;
		}
		.button > svg:last-child {
			@apply ms-2 -me-2;
		}
	*/
	.button:has(svg) {
		@apply flex items-center justify-center gap-2;
	}
	.button > svg {
		@apply w-5 h-5;
	}
		/* @todo: when svg is on the right as last child it should have -me-2 */
		/* When only one SVG exists
		.button > svg:only-of-type { @apply -ms-2; }
		*/
		/* When multiple SVGs exist */
		.button > svg:first-child { @apply -ms-2; }
		.button > svg:last-child:not(:first-child) { @apply -me-2; }

	button[disabled],
	.button[disabled] {
		@apply cursor-not-allowed opacity-50;
	}

	.button_text:has(+ .button_spinner.htmx-request) {
		@apply opacity-0;
	}

a.email_link small {
	display: none;
}

/* -------------------------------------------------------------------------- */

body.fixed_header main {
	@apply mt-16 sm:mt-20;
}

/* -------------------------------------------------------------------------- */

.header_nav {
	@apply
		px-4 lg:px-6 py-2.5
		bg-white dark:bg-neutral-900;
}
	.header_nav.background_color_highlight {
		@apply bg-neutral-50 dark:bg-neutral-800;
	}
	.header_nav.primary {
		@apply dark:bg-primary-900;
	}
		.header_nav.primary.background_color_highlight {
			@apply bg-primary-50 dark:bg-primary-800;
		}
	.header_nav.secondary {
		@apply dark:bg-secondary-900;
	}
		.header_nav.secondary.background_color_highlight {
			@apply bg-secondary-50 dark:bg-secondary-800;
		}
	.header_nav.glass {
		@apply
			bg-white/70 dark:bg-neutral-900/70
			backdrop-blur-lg;
	}
		.header_nav.glass.primary {
			@apply bg-primary-50/70 dark:bg-primary-900/70;
		}
		.header_nav.glass.secondary {
			@apply bg-secondary-50/70 dark:bg-secondary-900/70;
		}
	.header_nav_fixed {
		@apply fixed top-0 left-0 right-0 z-40;
	}
	.header_nav_floating {
		@apply
			mt-2 mx-6
			px-6 py-2.5
			lg:px-8 lg:py-4
			rounded-full;
	}
	.header_nav_with_border {
		@apply
			border-b
			border-neutral-200 dark:border-neutral-700;
	}
		.header_nav_with_border.primary {
			@apply border-primary-200 dark:border-primary-700;
		}
		.header_nav_with_shadow.secondary {
			@apply border-secondary-200 dark:border-secondary-700;
		}
		.header_nav_floating.header_nav_with_border {
			@apply border;
		}
	.header_nav_with_shadow {
		@apply shadow-neutral-100 dark:shadow-neutral-900;
		/* sm:shadow-lg dark:shadow-none */
	}
		.header_nav_with_shadow.primary {
			@apply shadow-primary-100 dark:shadow-primary-900;
		}
		.header_nav_with_shadow.secondary {
			@apply shadow-secondary-100 dark:shadow-secondary-900;
		}

.header_nav_menu {
	@apply
		flex flex-col lg:flex-row
		mt-4 lg:mt-0
		lg:gap-8
		font-medium
}
	#header_nav_menu_mobile.header_nav_menu {
		@apply mt-0;
	}
	.header_nav_menu .menu-item a {
		@apply
			block

			/* mobile menu */
			text-neutral-700 dark:text-neutral-200
			hover:bg-neutral-100 hover:text-neutral-950
			dark:hover:bg-neutral-700 dark:hover:text-neutral-50
			py-2 px-4
			border-b border-neutral-100 dark:border-neutral-700

			/* regular menu */
			lg:bg-transparent lg:dark:bg-transparent
			lg:hover:bg-transparent lg:dark:hover:bg-transparent
			lg:text-neutral-700 lg:hover:text-neutral-950
			lg:dark:text-neutral-200 lg:dark:hover:text-neutral-50
			lg:p-0
			lg:border-0
	}
		.header_nav_menu .menu-item.current-menu-item a {
			@apply
				rounded

				/* mobile menu */
				bg-neutral-100 dark:bg-neutral-700
				text-neutral-950 dark:text-neutral-50

				/* regular menu */
				lg:bg-transparent lg:dark:bg-transparent
				lg:text-neutral-950 lg:dark:text-neutral-50
		}
		.header_nav.primary .header_nav_menu .menu-item a {
			@apply
				/* mobile menu */
				text-primary-700 dark:text-primary-200
				hover:bg-primary-100 hover:text-primary-950
				dark:hover:bg-primary-700 dark:hover:text-primary-50
				border-primary-100 dark:border-primary-700

				/* regular menu */
				lg:bg-transparent lg:dark:bg-transparent
				lg:hover:bg-transparent lg:dark:hover:bg-transparent
				lg:text-primary-700 lg:hover:text-primary-950
				lg:dark:text-primary-200 lg:dark:hover:text-primary-50
		}
			.header_nav.primary .header_nav_menu .menu-item.current-menu-item a {
				@apply
					/* mobile menu */
					bg-primary-100 dark:bg-primary-700
					text-primary-950 dark:text-primary-50

					/* regular menu */
					lg:bg-transparent lg:dark:bg-transparent
					lg:text-primary-950 lg:dark:text-primary-50
			}
		.header_nav.secondary .header_nav_menu .menu-item a {
			@apply
				/* mobile menu */
				text-secondary-700 dark:text-secondary-200
				hover:bg-secondary-100 hover:text-secondary-950
				dark:hover:bg-secondary-700 dark:hover:text-secondary-50
				border-secondary-100 dark:border-secondary-700

				/* regular menu */
				lg:bg-transparent lg:dark:bg-transparent
				lg:hover:bg-transparent lg:dark:hover:bg-transparent
				lg:text-secondary-700 lg:hover:text-secondary-950
				lg:dark:text-secondary-200 lg:dark:hover:text-secondary-50
		}
			.header_nav.secondary .header_nav_menu .menu-item.current-menu-item a {
				@apply
					/* mobile menu */
					bg-secondary-100 dark:bg-secondary-700
					text-secondary-950 dark:text-secondary-50

					/* regular menu */
					lg:bg-transparent lg:dark:bg-transparent
					lg:text-secondary-950 lg:dark:text-secondary-50
			}

	.header_nav_icon_button {
		@apply
			inline-flex items-center
			p-2.5
			rounded-lg
			text-sm
			text-neutral-700 dark:text-neutral-200
			hover:bg-neutral-100 dark:hover:bg-neutral-700
			focus:outline-none focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-700;
	}
		.header_nav.primary .header_nav_icon_button {
			@apply
				text-primary-700 dark:text-primary-200
				hover:bg-primary-100 dark:hover:bg-primary-700
				focus:ring-primary-200 dark:focus:ring-primary-700;
		}
		.header_nav.secondary .header_nav_icon_button {
			@apply
				text-secondary-700 dark:text-secondary-200
				hover:bg-secondary-100 dark:hover:bg-secondary-700
				focus:ring-secondary-200 dark:focus:ring-secondary-700;
		}
		.header_nav_icon_button:has(.header_nav_icon_button_badge) {
			@apply relative;
		}
			.header_nav_icon_button_badge {
				@apply
					absolute -top-2 -end-2
					inline-flex items-center justify-center
					w-6 h-6
					text-xs font-bold
					text-white bg-red-500
					rounded-full
					truncate;
			}

.header_nav_sign_up_button {
	@apply
		px-4 lg:px-5 py-2 lg:py-2.5 mr-2
		rounded-lg
		font-medium
		text-sm

		text-white
		bg-neutral-700 hover:bg-neutral-800
		dark:bg-neutral-600 dark:hover:bg-neutral-700
		focus:outline-none focus:ring-4
		focus:ring-neutral-300 dark:focus:ring-neutral-800;
}
	.header_nav.primary .header_nav_sign_up_button {
		@apply
			bg-primary-700 hover:bg-primary-800
			dark:bg-primary-600 dark:hover:bg-primary-700
			focus:ring-primary-300 dark:focus:ring-primary-800;
	}
	.header_nav.secondary .header_nav_sign_up_button {
		@apply
			bg-secondary-700 hover:bg-secondary-800
			dark:bg-secondary-600 dark:hover:bg-secondary-700
			focus:ring-secondary-300 dark:focus:ring-secondary-800;
	}

.header_nav_user_account_menu {
	@apply relative;
}
	.header_nav_user_account_menu_button {
		@apply
			flex
			relative
			text-sm
			rounded-full
			focus:outline-none focus:ring-4
			focus:ring-neutral-200 dark:focus:ring-neutral-700;
	}
		.header_nav.primary .header_nav_user_account_menu_button {
			@apply focus:ring-primary-200 dark:focus:ring-primary-700;
		}
		.header_nav.secondary .header_nav_user_account_menu_button {
			@apply focus:ring-secondary-200 dark:focus:ring-secondary-700;
		}
	.header_nav_user_account_menu_dropdown {
		@apply
			absolute
			end-0
			z-50
			w-56
			my-4
			text-base
			list-none
			rounded
			shadow
			bg-neutral-50 dark:bg-neutral-800
			text-neutral-600 dark:text-neutral-400
			divide-y divide-neutral-100 dark:divide-neutral-700;
	}
		.header_nav.primary .header_nav_user_account_menu_dropdown {
			@apply
				bg-primary-50 dark:bg-primary-800
				text-primary-600 dark:text-primary-400
				divide-primary-100 dark:divide-primary-700;
		}
		.header_nav.secondary .header_nav_user_account_menu_dropdown {
			@apply
				bg-secondary-50 dark:bg-secondary-800
				text-secondary-600 dark:text-secondary-400
				divide-secondary-100 dark:divide-secondary-700;
		}
		.header_nav_user_account_menu_dropdown .user_display_name {
			@apply
				block
				text-sm
				truncate
				font-semibold
				text-neutral-900 dark:text-neutral-50;
		}
			.header_nav.primary .header_nav_user_account_menu_dropdown .user_display_name {
				@apply text-primary-900 dark:text-primary-50;
			}
			.header_nav.secondary .header_nav_user_account_menu_dropdown .user_display_name {
				@apply text-secondary-900 dark:text-secondary-50;
			}
		.header_nav_user_account_menu_dropdown ul {
			@apply py-1;
		}
			.header_nav_user_account_menu_dropdown ul li a {
				@apply
					block
					py-2 px-4
					text-sm
					text-neutral-700 dark:text-neutral-200
					hover:bg-neutral-100 dark:hover:bg-neutral-700
			}
				.header_nav.primary .header_nav_user_account_menu_dropdown ul li a {
					@apply
						text-primary-700 dark:text-primary-200
						hover:bg-primary-100 dark:hover:bg-primary-700
				}
				.header_nav.secondary .header_nav_user_account_menu_dropdown ul li a {
					@apply
						text-secondary-700 dark:text-secondary-200
						hover:bg-secondary-100 dark:hover:bg-secondary-700
				}

/* -------------------------------------------------------------------------- */

article.post,
article.page {
	@apply
		max-w-2xl mx-auto
		format lg:format-lg format-primary dark:format-invert;
}

article.post .font_thin,
article.page .font_thin {
	@apply !font-thin;
}

article.post .post_header .post_title,
article.page .post_header .post_title {
	@apply mb-0;
}
article.post .post_header .post_subtitle,
article.page .post_header .post_subtitle {
	@apply mb-0 mt-4 text-primary-700 dark:text-primary-200 font-normal;
}

article.post .post_meta {
	@apply my-4 space-x-1 rtl:space-x-reverse;
}
	article.post .post_meta.not-format a {
		@apply text-primary-800 dark:text-primary-200 hover:underline;
	}

article.post .post_content,
article.page .post_content {
	@apply my-8;
}
	article.post .post_content img {
		@apply h-auto max-w-full mx-auto;
	}
	article.post .post_content figure.alignleft img {
		@apply me-auto ms-0;
	}
	article.post .post_content figure.alignright img {
		@apply ms-auto me-0;
	}
	article.post .post_content figure:not(.rounded_none) img {
		@apply rounded-lg;
	}
	article.post .post_content figure:not(.shadow_none) img {
		@apply shadow-xl;
	}
	article.post .post_content figure.is-style-rounded img {
		@apply rounded-full;
	}
	article.post .post_content figure figcaption {
		@apply text-center;
	}
	article.post .post_content figure.wp-block-gallery {
		@apply grid grid-cols-2 md:grid-cols-3 gap-4;
	}

	article.post .post_content blockquote,
	article.page .post_content blockquote {
		@apply ps-4 border-s-4;
		border-color: var(--tw-format-quote-borders);
	}
	article.post .post_content blockquote::before,
	article.page .post_content blockquote::before {
		display: none;
		/*
		background-image: none;
		content					: "❝";
		content					: open-quote;
		font-family			: serif;
		color						: var(--tw-format-quotes);
		font-size				: 3em;
		line-height			: 1;
		margin-top			: 0;
		*/
	}

/* -------------------------------------------------------------------------- */

.pagination_links {
	@apply
		flex items-center justify-center
		h-10
		-space-x-px rtl:space-x-reverse
		text-base;
}
	.pagination_links .page-numbers {
		@apply
			flex items-center justify-center
			h-10
			px-4
			leading-tight
			text-primary-500 hover:text-primary-700 dark:text-primary-400 dark:hover:text-white
			bg-white hover:bg-primary-100 dark:bg-primary-800 dark:hover:bg-primary-700
			border border-primary-300 dark:border-primary-700
	}
		.pagination_links .page-numbers.current {
			@apply
				text-primary-600 hover:text-primary-700
				bg-primary-50 hover:bg-primary-100
		}
		.pagination_links .page-numbers.prev {
			@apply ms-0 border-e-0 rounded-s-lg
		}
		.pagination_links .page-numbers.next {
			@apply rounded-e-lg
		}

/* -------------------------------------------------------------------------- */

#page_footer {
	@apply mt-auto;
}

#page_footer_inner {
	@apply
		dark:bg-neutral-900
		text-neutral-500 dark:text-neutral-400
		border-neutral-200 dark:border-neutral-700;
}
	#page_footer_inner.primary {
		@apply
			dark:bg-primary-900
			text-primary-600 dark:text-primary-400
			border-primary-200 dark:border-primary-700;
	}
	#page_footer_inner.secondary {
		@apply
			dark:bg-secondary-900
			text-secondary-600 dark:text-secondary-400
			border-secondary-200 dark:border-secondary-700;
	}
	#page_footer_inner.background_color_highlight {
		@apply bg-neutral-50 dark:bg-neutral-800;
	}
		#page_footer_inner.primary.background_color_highlight {
			@apply bg-primary-50 dark:bg-primary-800;
		}
		#page_footer_inner.secondary.background_color_highlight {
			@apply bg-secondary-50 dark:bg-secondary-800;
	}
	#page_footer_inner.footer_with_border {
		@apply border-t;
	}

#page_footer_inner_content {
	@apply
		flex flex-col gap-6
		max-w-3xl lg:max-w-4xl xl:max-w-6xl
		mx-auto
		p-4 md:p-8 lg:p-10
		border-neutral-200 dark:border-neutral-700;
}
	#page_footer_inner.primary #page_footer_inner_content {
		@apply border-primary-200 dark:border-primary-700;
	}
	#page_footer_inner.secondary #page_footer_inner_content {
		@apply border-secondary-200 dark:border-secondary-700;
	}

#footer_site_title {
	@apply
		text-2xl
		font-semibold
		text-neutral-900 dark:text-neutral-50;
}
	#page_footer_inner.primary #footer_site_title {
		@apply text-primary-900 dark:text-primary-50;
	}
	#page_footer_inner.secondary #footer_site_title {
		@apply text-secondary-900 dark:text-secondary-50;
	}

#footer_nav_menu {
	@apply
		flex flex-wrap
		items-center justify-center
		gap-4;
}

#page_footer_inner #footer_nav_menu a,
#page_footer_inner #copyright a {
	@apply
		underline-offset-4 hover:underline
		text-neutral-800 dark:text-neutral-100;
}
	#page_footer_inner.primary #footer_nav_menu a,
	#page_footer_inner.primary #copyright a {
		@apply text-primary-800 dark:text-primary-100;
	}
	#page_footer_inner.secondary #footer_nav_menu a,
	#page_footer_inner.secondary #copyright a  {
		@apply text-secondary-800 dark:text-secondary-100;
	}

#footer_social_media {
	@apply flex flex-row justify-center items-center flex-wrap gap-6;
}
	#footer_social_media .social_media_link {
		@apply
			vertical center
			w-8 h-8 sm:w-10 sm:h-10
			p-2
			rounded-full
			bg-neutral-100 dark:bg-neutral-400 text-neutral-950;
	}
	#page_footer_inner.primary #footer_social_media .social_media_link {
		@apply bg-primary-100 dark:bg-primary-400 text-primary-950;
	}
	#page_footer_inner.secondary #footer_social_media .social_media_link {
		@apply bg-secondary-100 dark:bg-secondary-400 text-secondary-950;
	}

/* -------------------------------------------------------------------------- */

.animate_shine_infinite {
	animation: shine_infinite 2s ease-in-out infinite;
}

@keyframes shine_infinite {
	0% {
		transform: skew(-12deg) translateX(-100%);
	}
	100% {
		transform: skew(-12deg) translateX(100%);
	}
}

/* -------------------------------------------------------------------------- */

.modal_backdrop {
	@apply
		fixed inset-0 z-40
		bg-neutral-900/50 dark:bg-neutral-900/80;
}

.modal_drawer {
	@apply
		fixed
		top-0
		z-40
		h-screen
		w-96 max-w-full
		p-4
		overflow-y-auto
		bg-white dark:bg-neutral-800;
}
	.modal_drawer.left {
		@apply
			left-0 rtl:right-0
			/*transition-transform -translate-x-full */
	}
	.modal_drawer.right {
		@apply
			right-0 rtl:left-0
			/*transition-transform translate-x-full */
	}
